<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.user.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>com.user.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.user.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>com.user.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.user.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.user.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.user.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet1</servlet-name>
        <servlet-class>com.user.UpdateServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateContentServlet</servlet-name>
        <servlet-class>com.user.UpdateContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertFees</servlet-name>
        <servlet-class>com.user.insertFees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertFeesBA</servlet-name>
        <servlet-class>com.user.insertFeesBA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placement</servlet-name>
        <servlet-class>com.user.placement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>com.user.student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudent</servlet-name>
        <servlet-class>com.user.deleteStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet1</servlet-name>
        <url-pattern>/UpdateServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContentServlet</servlet-name>
        <url-pattern>/UpdateContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertFees</servlet-name>
        <url-pattern>/insertFees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertFeesBA</servlet-name>
        <url-pattern>/insertFeesBA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placement</servlet-name>
        <url-pattern>/placement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudent</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>
</web-app>
